<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ManageDose.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ManageDoseMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WatchManageDose Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044737F02C10703E003C080E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04533A072C1096E900E969E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E6A9292C11B79500023DBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0EDBAF2BF6F66E00C384B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
